<div class="admin btn-group">
  {{#if isStarted}}
    {{#if seeded}}
      <button {{bindAttr disabled="isSaving"}} class="btn btn-small" {{action "unseed" this}}>Destroy seed</button>
      <button class="btn btn-small" {{action "adminToggle"}}>Admin View</button>
    {{else}}
      <button {{bindAttr disabled="isSaving"}} class="btn btn-small" {{action "seed" this}}>Seed</button>
    {{/if}}
  {{else}}
    <button {{bindAttr disabled="isSaving"}} class="btn btn-small" {{action "start" this}}>Start now</button>
  {{/if}}

  <button {{bindAttr disabled="isSaving"}} class="btn btn-small" {{action "deleteTournament" this allowed-keys="alt"}}>Delete the tournament</button>

  {{#unless seeded}}
    <button {{bindAttr disabled="isSaving"}} class="btn btn-small" {{action "randomize" this}}>Randomize players</button>
    {{#linkTo "tournament.edit" this class="btn btn-small"}}Edit{{/linkTo}}
  {{/unless}}
</div>
