<div class="bracket">
  {{#if winner}}
    <p>{{winner.username}} is the winner</p>
  {{/if}}

  {{#if hasRounds}}
    {{#each round in rounds}}
      <div class="round-wrap">
        <div class="round-info-wrap">
          <div class="round-info">Round of {{round.number}}</div>
        </div>

        <div class="round">
          {{#each match in round.matches}}
            {{view Scvrush.TournamentMatchView matchBidning="match"}}
          {{/each}}
        </div>

      </div>
    {{/each}}

  {{else}}
    <div class="row">
      <p class="alert alert-info span7">
        The tournament is already started. While waiting for the bracket to be
        generated, you can watch this awesome sheep video
      </p>

      <!-- TODO - display last reloaded at -->
    </div>

      <iframe width="560" height="315" src="http://www.youtube.com/embed/SIaFtAKnqBU"
              frameborder="0" allowfullscreen></iframe>

    {{render "tournament.players" users}}
  {{/if}}

</div>
