<!-- TODO - display register now only if not started, maybe even as a direct clickable button -->
<form class="form-inline">

  {{#if isRegistered}}
    <a class="btn btn-danger" {{action "cancel" content}}>Cancel your registration</a>
  {{else}}

    <span {{bindAttr class="user.isNotTournamentReady:error"}}>
      {{view Ember.TextField valueBinding="user.bnetInfo"}}
    </span>

    <span {{bindAttr class="user.isNotTournamentReady:error"}}>
      {{view Ember.Select modelBinding="user" contentBinding="Scvrush.User.ALL_RACES" valueBinding="user.race"}}
    </span>

    {{#if shouldCheckin}}
      <a {{bindAttr disabled="user.isNotTournamentReady"}} class="btn btn-success" {{action "checkin" content user}}>Check in!</a>
    {{else}}
      <a {{bindAttr disabled="user.isNotTournamentReady"}} class="btn btn-success" {{action "register" content user}}>Register now!</a>
    {{/if}}

    <i class="icon-info-sign" rel="tooltip" title="Your battle.net username, for example Vogin.132"></i>

  {{/if}}

</form>
