{{#if isRegistered}}
  <p>Your race is {{view Scvrush.RaceSelectionView contentBinding="Scvrush.User.ALL_RACES" valueBinding="Scvrush.currentUser.race" modelBinding="Scvrush.currentUser"}}</p>
  <p>Make sure that this is correct, since you are not allowed to change the race when the tournament begins.</p>
{{/if}}

{{render "tournament.signup_button" content}}

{{#if users.isLoaded}}
  <h4>Registered players</h2>

  <p>There are already {{participant_count}} players signed up</p>

  <div class="registered-players">
    <ul class="unstyled tournament-players">
      {{#each player in users}}
        <li>
          <a {{action showUser player href="true"}}>
            <div {{bindAttr class="player.raceClass :race"}}>{{player.race_class}}</div>
            <div class="name">{{player.username}}</div>
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}
