<ul class="nav nav-tabs">
  <li class="active">
    <a {{action gotoTournaments href="true"}}>All Events</a>
  </li>
  <!--<li>
    <a {{action gotoUserTournaments href="true"}}>Your Events</a>
  </li>-->

  <div class="pull-right">
    <select><option>Category</option></select>
    <input type="text" placeholder="Search">
  </div>
</ul>

<div class="tournaments row">

  <div class="span8">
    {{#each day in controller}}
      <h2>{{day.human_date}}</h2>
      {{#each tournament in day.tournaments}}
        <div class="tournament">
          <a {{action showTournament tournament href="true"}}>{{tournament.name}}</a>
        </div>
      {{/each}}
    {{/each}}
  </div>

  <div class="span4">

    and these are the calendars
  </div>

</div>
