<ul class="nav nav-tabs">
  <li class="active">
    <a {{action gotoTournaments href="true"}}>All Events</a>
  </li>

  <div class="pull-right">
    <select><option>Category</option></select>
    <input type="text" placeholder="Search">
  </div>
</ul>

<div class="tournaments row">

  <div class="span9">
    {{#each day in controller}}
      <div class="tournament-day">
        <h2>{{day.humanDate}}</h2>
        {{#each tournament in day.tournaments}}
          <div class="tournament">

            <div class="time">
              {{tournament.startTime}}
            </div>

            <img {{bindAttr src="tournament.imageUrl"}}>

            <div class="description">
              <h3>
                {{#linkTo "tournament" tournament}}{{tournament.name}}{{/linkTo}}
              </h3>

              <p>
                <i class="icon-user"></i>
                {{tournament.participantCount}}
                {{#if tournament.onePerson}}person{{else}}people{{/if}}

                {{#if tournament.isOpen}}
                  , {{view Scvrush.TournamentSignupButton contentBinding="tournament"}}
                {{/if}}
              </p>


            </div>

          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>

  <div class="span3">

    {{#linkTo "tournamentsNew" class="btn btn-primary"}}Create your own tournament{{/linkTo}}

    and these are the calendars
  </div>

</div>
