<div class="tournaments row">

  <div class="span9">
    {{#each tournament in controller}}
      <div class="tournament">

        <div class="time">
          {{tournament.startTime}}
        </div>

        <img {{bindAttr src="tournament.imageUrl"}}>

        <div class="description">
          <h3>
            {{#linkTo "tournament" tournament}}{{tournament.name}}{{/linkTo}}
          </h3>

          <p>
            <i class="icon-user"></i>
            {{tournament.participantCount}}
            {{#if tournament.onePerson}}person{{else}}people{{/if}}
          </p>

        </div>

      </div>
    {{/each}}
  </div>

  <div class="span3">
    {{view Ember.TextField valueBinding="query" placeholder="Search"}}

    {{#linkTo "tournaments.new" class="btn btn-primary"}}Create your own tournament{{/linkTo}}
  </div>

</div>
