<h2>Create your own custom tournament</h2>

<p>Every SCV Rush user can create custom tournaments and invite friends to play.</p>

<form class="form-horizontal" {{action "create" content on="submit"}}>

  <div {{bindAttr class="errors.name:error :control-group"}}>
    <label class="control-label">Name</label>

    <div class="controls">
      {{view Em.TextField valueBinding="name"}}
      <span class="help-inline">{{errors.name.firstObject}}</span>
    </div>

  </div>

  <div {{bindAttr class="startsAtInvalid:error :control-group"}}>
    <label class="control-label">Starts at</label>

    <div class="controls">
      {{view Scvrush.DateTimeView valueBinding="startsAt" class="control"}}
    </div>
  </div>

  <div class="controls">
    <button class="btn btn-primary">Create tournament</button>
  </div>

</form>
