<h2>Create your own custom tournament</h2>

<p>Every SCV Rush user can create custom tournaments and invite friends to play.</p>

<form class="form-horizontal">

  <div {{bindAttr class="content.nameInvalid:error :control-group"}}>
    <label class="control-label">Name</label>

    <div class="controls">
      {{view Em.TextField valueBinding="content.name"}}
    </div>
  </div>

  <div {{bindAttr class=":control-group"}}>
    <label class="control-label">Number of players</label>

    <div class="controls">
      {{view Em.TextField valueBinding="content.maxPlayers" class="control"}}
    </div>
  </div>

  <div {{bindAttr class="content.startsAtInvalid:error :control-group"}}>
    <label class="control-label">Starts at</label>

    <div class="controls">
      {{view Scvrush.DateTimeView valueBinding="content.startsAt" class="control"}}
    </div>
  </div>


  <div class="row">
    <div class="span1">
      <a {{action "addRound"}}>add round</a>
    </div>

    <div class="span1">
      {{#each round in content.reverseRounds}}
        {{round.number}}
      {{/each}}
    </div>
  </div>

  <div class="controls">
    <button class="btn btn-primary" {{action "createTournament"}}>Create tournament</button>
  </div>

</form>
