<h1>{{name}}</h1>

{{#if isAdmin}}
  <span class="meta btn-group">
    {{#if isStarted}}
      {{#if content.seeded}}
        <button class="btn" {{action "unseed"}}>unseed the tournament</button>
      {{else}}
        <button class="btn" {{action "seed"}}>seed the tournament</button>
      {{/if}}
    {{else}}
      <button class="btn" {{action "start"}}>Start the tournament</button>
    {{/if}}
  </span>
{{/if}}

<h4>{{#linkTo "tournaments"}}back to tournaments{{/linkTo}}</h4>

{{#if isStarted}}
  {{view Scvrush.RoundsView tournamentBinding="content"}}
{{else}}
  {{view Scvrush.TournamentSignupView controllerBinding="controller"}}
{{/if}}
