<h1>{{name}}</h1>

{{#if isAdmin}}
  <div class="meta btn-group">
    {{#if isStarted}}
      {{#if content.seeded}}
        <button class="btn" {{action "unseed"}}>Destroy seed</button>
      {{else}}
        <button class="btn" {{action "seed"}}>Seed</button>
      {{/if}}
    {{else}}
      <button class="btn" {{action "start"}}>Start now</button>
    {{/if}}

    <button class="btn" {{action "deleteTournament"}}>Delete the tournament</button>
  </div>
{{/if}}

<h4>{{#linkTo "tournaments"}}back to tournaments{{/linkTo}}</h4>

{{#if isStarted}}
  {{#if isEmpty}}
    <p class="alert alert-notice">No players were signed up for this tournament when it started</p>
  {{else}}
    {{#if isPlaying}}
      {{view Scvrush.TournamentsCurrentMatch}}
    {{/if}}

    {{view Scvrush.RoundsView tournamentBinding="content"}}
  {{/if}}

{{else}}
  {{view Scvrush.TournamentSignupView}}
{{/if}}
