<h2>Activate your account</h2>

<div class="row">
  <p class="span6">
    Once you submit this form your account will be activated.
    You currently have a <strong>trial account, which is fully functional
    but will be automatically deleted on {{expiresIn}} GMT</strong>.
  </p>
</div>

<form id="account-activation" class="form-horizontal" {{action "saveProfile" on="submit"}}>

  <div {{bindAttr class="usernameTaken:error :control-group"}}>
    <label class="control-label">Username</label>
    <div class="controls">
      {{view Ember.TextField valueBinding="username" class="username"}}

      {{#if usernameTaken}}<span class="help-inline">Username is already taken</span>{{/if}}
    </div>
  </div>

  <div {{bindAttr class="emailTaken:error :control-group"}}>
    <label class="control-label">E-mail</label>
    <div class="controls">
      {{view Ember.TextField valueBinding="email" class="email"}}
      {{#if emailTaken}}<span class="help-inline">Email is already taken</span>{{/if}}
    </div>
  </div>

  <div {{bindAttr class="passwordInvalid:error :control-group"}}>
    <label class="control-label" for="password">Password</label>
    <div class="controls">
      {{view Ember.TextField valueBinding="password" type="password" class="password"}}
    </div>
  </div>

  <div {{bindAttr class="passwordConfirmationInvalid:error :control-group"}}>
    <label class="control-label" for="password_confirmation">Password Confirmation</label>
    <div class="controls">
      {{view Ember.TextField valueBinding="passwordConfirmation" type="password" class="password_confirmation"}}
    </div>
  </div>

  <div class="control-group">
    <div class="controls">

      <button type="submit" {{bindAttr disabled="isSaving"}} class="btn btn-primary">
        {{#if isSaving}}
          Saving ...
        {{else}}
          Activate the account
        {{/if}}
      </button>

    </div>
  </div>
</form>
