<h2>Activate your account</h2>

<div class="row">
  <p class="span8">
    Once you submit this form your account will be activated.
    You currently have a <strong>trial account, which is fully functional
    but will be automatically deleted on {{expiresIn}} GMT</strong>.
  </p>
</div>

<form class="form-horizontal" {{action "saveProfile" on="submit"}}>

  <div class="control-group">
    <label class="control-label">Username</label>
    <div class="controls">
      {{view Ember.TextField valueBinding="user.username"}}
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">E-mail</label>
    <div class="controls">
      {{view Ember.TextField valueBinding="user.email"}}
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Password</label>
    <div class="controls">
      {{view Ember.TextField valueBinding="user.password" type="password"}}
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Password Confirmation</label>
    <div class="controls">
      {{view Ember.TextField valueBinding="user.passwordConfirmation" type="password"}}
    </div>
  </div>

  <div class="control-group">
    <div class="controls">

      <button type="submit" {{bindAttr disabled="user.isSaving"}} class="btn btn-primary">
        {{#if user.isSaving}}
          Saving ...
        {{else}}
          Activate the account
        {{/if}}
      </button>

    </div>
  </div>
</form>
