<div class="row user-profile">
  <div class="span3">
    <div class="avatar">
      <img {{bindAttr src="image"}}>
    </div>

    {{about}}

    {{#if hasFollowers}}
      <h3>Followers</h3>

      {{#each follower in followers}}
        {{#linkTo "user" follower}}{{follower.username}}{{/linkTo}}
        <br>
      {{/each}}
    {{else}}
      <div class="alert alert-info">This user has no followers.</div>
    {{/if}}


    <h3>Following</h3>

    {{#each follower in following}}
      {{#linkTo "user" follower}}{{follower.username}}{{/linkTo}}
      <br>
    {{/each}}

  </div>

  <div class="span9">
    <h2>
      <img {{bindAttr src="raceIcon"}}>
      {{#if isCurrentUser}}
        {{username}}
      {{else}}
        {{control "user.follow_button" content}}
      {{/if}}

      ({{bnetInfo}})

      <div class="follow-box">
        {{#linkTo "users.index" class="help-inline"}}back to users{{/linkTo}}

      </div>
    </h2>

    <div class="statuses">
      {{#if isCurrentUser}}
        {{render "statuses.new"}}
      {{/if}}

      {{#each status in timelineStatuses}}
        <div class="status">
          <div class="author">
            {{#linkTo "user" status.user}}@{{status.user.username}}{{/linkTo}}
          </div>

          <div class="content">
            <div class="text">
              {{view Scvrush.UserLinksView contentBinding="status.text"}}
            </div>
          </div>

          <div class="meta">
            {{#if isCurrentUser}}
              <button {{action "deleteStatus" status}} class="btn btn-mini">
                <i class="icon-remove"></i>
              </button>
            {{/if}}
          </div>

        </div>
      {{/each}}

    </div>

  </div>
</div>
