{{view Em.TextField valueBinding="controller.query" placeholder="Search the posts"}}

<div class="posts">

  {{#each post in controller}}
    <div class="post">
      {{#if post.isLoaded}}
        {{#linkTo "post.index" post class="image"}}
          {{view Scvrush.ImageView srcBinding="post.image"}}
        {{/linkTo}}

        <h2>
          {{#linkTo "post.index" post}}{{post.title}}{{/linkTo}}
        </h2>
      {{/if}}
    </div>
  {{else}}
    <p>
      We&apos;re a bad kitty and do not have anything like you want.
      Please, honor us by searching for something else!
    </p>
  {{/each}}

</div>

{{view Scvrush.LoadMoreView}}
