<div class="span3 sidebar">
  <div id="logo"><img src="/assets/logo.png"></div>

  {{render "user.recent_statuses" Scvrush.currentUser}}
  {{render "tournaments.user" Scvrush.currentUser}}
  {{render "tournaments.upcoming"}}

</div>

<div class="span12 content">
  {{render "navbar"}}
  {{outlet}}
</div>
