{{view Em.TextField valueBinding="controller.query" placeholder="Search the posts"}}

<div class="posts">

  {{#each controller}}
    <div class="post">
      <a class="image" {{action showPost this href=true}}>
        <img {{bindAttr src="image"}}>
      </a>

      <h2><a {{action showPost this href=true}}>{{title}}</a></h2>
    </div>
  {{/each}}

</div>
