<div class="race-picker">
  <span {{action "selectRace" "Zerg"}} {{bindAttr class="isZerg:active :race-zerg"}}></span>
  <span {{action "selectRace" "Terran"}} {{bindAttr class="isTerran:active :race-terran"}}></span>
  <span {{action "selectRace" "Protoss"}} {{bindAttr class="isProtoss:active :race-protoss"}}></span>
  <span {{action "selectRace" "Random"}} {{bindAttr class="isRandom:active :race-random"}}></span>
</div>
