<div class="bracket">
  {{#if view.tournament.winner}}
    <p>{{view.tournament.winner.username}} is the winner</p>
  {{/if}}

  <p>
    {{#if view.tournament.seeded}}
      <a {{action unseed view.tournament target="controller"}}>unseed the tournament</a>
    {{else}}
      <a {{action seed view.tournament target="controller"}}>seed the tournament</a>
    {{/if}}
  </p>

  {{#if hasRounds}}
    {{#each round in view.tournament.rounds}}
      <div class="round-wrap">
        <div class="round-info-wrap">
          <div class="round-info">Round of {{round.number}}</div>
        </div>

        <div class="round">
          {{#each match in round.matches}}
          <div class="match">
            <div class="player">
              <div class="name">{{match.player1}}</div>
              <div class="score">{{match.player1_score}}</div>
            </div>
            <div class="player">
              <div class="name">{{match.player2}}</div>
              <div class="score">{{match.player2_score}}</div>
            </div>
          </div>
          {{/each}}
        </div>

      </div>
    {{/each}}

  {{else}}
    <div class="row">
      <p class="alert alert-info span5">The bracket wasnt yet generated, please wait</p>
      <!-- TODO - display last reloaded at -->
    </div>
  {{/if}}


</div>
