<h1>Tournament</h1>

<div class="bracket">

  <a {{action "loadRounds" target="Scvrush.router.roundsController"}}>Load rounds</a>

  <h2>collection</h2>
  {{#collection contentBinding="Scvrush.router.roundsController" itemClassNames="round" itemViewClass="Scvrush.RoundView"}}

    <div class="round-info">

      round of {{view.content.round}}
    </div>

    {{#collection contentBinding="view.content.matches" itemViewClass="Scvrush.MatchView" itemClassNames="match"}}
    <div {{bindAttr class="view.player1ClassName"}}>{{view.content.player1}}</div>
    <div {{bindAttr class="view.player2ClassName"}}>{{view.content.player2}}</div>
    {{/collection}}
  {{/collection}}
</div>
