<h1>{{name}}</h1>

{{#if isAdmin}}
  <div class="meta btn-group">
    {{#if isStarted}}
      {{#if seeded}}
        <button class="btn" {{action "unseed" content}}>Destroy seed</button>
      {{else}}
        <button class="btn" {{action "seed" content}}>Seed</button>
      {{/if}}
    {{else}}
      <button class="btn" {{action "start" content}}>Start now</button>
    {{/if}}

    <button class="btn" {{action "deleteTournament" content}}>Delete the tournament</button>
    <button class="btn" {{action "randomize" content}}>Randomize players</button>
    {{#linkTo "tournament.edit" content class="btn"}}Edit{{/linkTo}}
  </div>
{{/if}}

<h4>{{#linkTo "tournaments"}}back to tournaments{{/linkTo}}</h4>

{{outlet}}

{{#if isStarted}}
  {{#if isEmpty}}
    <p class="alert alert-notice">No players were signed up for this tournament when it started</p>
  {{else}}
    {{#if isPlaying}}
      {{render "tournament.current_match"}}
      {{view Scvrush.TournamentsCurrentMatch}}
    {{/if}}

    {{render "tournament.rounds" content}}
  {{/if}}

{{else}}
  {{render "tournament.signup" content}}
{{/if}}
