<!-- TODO - display register now only if not started, maybe even as a direct clickable button -->
{{#if isRegistered}}
  <a {{bindAttr class="view.cancelLinkClass"}} {{action "cancel" content}}>Cancel your registration</a>
{{else}}
  {{#if shouldCheckin}}
    <a {{bindAttr class="view.registerLinkClass"}} {{action "checkin" content}}>Check in!</a>
  {{else}}
    <a {{bindAttr class="view.registerLinkClass"}} {{action "register" content}}>Register now!</a>
  {{/if}}
{{/if}}
