{{view Em.TextField valueBinding="controller.query" placeholder="Search the users"}}

<ul class="tournament-players unstyled">

  {{#each user in controller}}
    <li class="user">
      {{#linkTo "user" user}}
        <img {{bindAttr src="user.image"}}>
        <div {{bindAttr class="user.raceClass :race"}}>{{player.race_class}}</div>

        <div class="name">{{user.username}}</div>
      {{/linkTo}}
    </li>
  {{/each}}

</ul>

