<div class="row user-profile">
  <div class="span3 user-info">
    <div class="avatar">
      <img {{bindAttr src="image"}}>
    </div>

    {{#if hasFollowers}}
      <h3>Followers</h3>

      {{#each follower in controller.followers}}
        {{#linkTo "users.user" follower}}{{follower.username}}{{/linkTo}}
        <br>
      {{/each}}
    {{else}}
      <div class="alert alert-info">This user has no followers.</div>
    {{/if}}


    <h3>Following</h3>

    {{#each follower in following}}
      {{#linkTo "users.user" follower}}{{follower.username}}{{/linkTo}}
      <br>
    {{/each}}

  </div>

  <div class="span9">
    <h2>
      {{username}} ({{bnetInfo}})
      {{#linkTo "users.index" class="help-inline"}}back to users{{/linkTo}}

      {{#unless isCurrentUser}}
        {{#if controller.isFollowingUser}}
          <a class="btn btn-danger"  {{action "unfollow" content}}>Unfollow</a>
        {{else}}
          <a class="btn btn-success" {{action "follow" content}}>Follow</a>
        {{/if}}
      {{/unless}}
    </h2>

    {{#if isCurrentUser}}
      <form class="status-form">
        <!-- TODO - display different placeholder if it's the current user's profile -->
        {{view Scvrush.NewStatusView class="span8" placeholder="Tell us what's on your mind"}}

      </form>
    {{/if}}

    <div class="statuses">

      {{#each status in timelineStatuses}}
        <div class="status">
          <div class="author">
            {{#linkTo "user" status.user}}@{{status.user.username}}{{/linkTo}}
          </div>

          <div class="content">
            <div class="text">{{view Scvrush.UserLinksView contentBinding="status.text"}}</div>
          </div>

          <div class="meta">
            <span>
              1 person liked this
            </span>
          </div>

        </div>
      {{/each}}

    </div>

  </div>
</div>
