<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:lift="http://liftweb.net/">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title><%= content_for?(:title) ? yield(:title) : "SCV Rush" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>


</head>
<body>
<div id="wrapper">
    <div id="wrapper-content">
        
        <div class="header">
            <h1>
                <img src="/assets/logo.png" alt="SCV Rush">
            </h1>
        </div>

        <div id="mainmenu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Articles</a></li>
                <li><a href="#">Coaching</a></li>
                <li><a href="#">Staff</a></li>
                <li><a href="#">Associates</a></li>
                <li><a href="<%= !!current_user ? logout_path : login_path %>">Members</a></li>
            </ul>
        </div>


    
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
        <%= content_tag :h1, yield(:title) if show_title? %>
    
        <%= yield %>



        <hr/>
        <div class="column span-23 last" style="text-align: center">
            Copyright &copy; 2011 SCVRush.com
        </div>
    </div>
</div>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>

